body {
    background: $gray1;
}

a,
button,
.scrollable {
    outline-width: 1px;
    outline-color: transparent;
    outline-style: solid;
    transition: .2s outline-color ease-in-out, .2s outline-offset ease-in-out;

    :focus-visible {
        outline-color: $white;
        outline-offset: 10px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


