$white:   #ffffff;
$gray1:   #181818;
$gray2:   #202020;
$gray3:   #333333;
$gray4:   #bebebe41;
$gray5:   rgb(110, 110, 110);
$black:   #000000;

$yellow1: #ffc64b;
$green1:  rgb(104, 168, 104);

$primaryType: rgba($white, 0.80);