.bills-component {
    scrollbar-width: none;
    scroll-behavior: smooth;
    touch-action: pan-x;
    height: 80vh;

    .bills-table {
        white-space: nowrap;
        border-collapse: collapse;
    }

    .table-body {
        .row {
            background: transparent;
            transition: .2s ease-in-out;
            
            &:hover,
            &:focus,
            &.selected {
                background: rgba($white, .05);
            }

            // &:nth-of-type(odd) {
            //     .cell {
            //         span {
            //             border-left: 1px solid $green1;
            //             border-top-left-radius: 50%;
            //             border-bottom-left-radius: 50%;
            //             padding: 10px;
            //         }
            //     }
            // }

            // &:nth-of-type(even) {
            //     .cell {
            //         span {
            //             border-right: 1px solid $green1;
            //             border-top-right-radius: 50%;
            //             border-bottom-right-radius: 50%;
            //             padding: 10px;
            //         }
            //     }
            // }
        }
    }

    .head {
        font-weight: 200;
        color: $white;
        letter-spacing: 2px;
        position: relative;
        display: table-cell;

        &:not(:first-of-type) {
            padding: rem(7) rem(24);

            &::after {
                content: "";
                position: absolute;
                width: rem(33);
                height: 1px;
                background: rgba($white, .2);
                top: 50%;
                right: 0;
                transform: translate(50%);
            }
        }

        &:last-of-type,
        &:nth-last-of-type(2) {
            &::after {
                content: none;
            }
        }

        &:first-of-type {
            position: sticky;
            z-index: 2;
            left: rem(-25%);
        }

        &.total {
            color: $green1;
            font-weight: 600;
        }
    }

    .link {
        color: rgba($white, 0.80);
        font-weight: 300;
        transition: .1s ease-in-out;
        padding: rem(7) rem(10);

        &:hover,
        &:focus {
            color: rgba($white, 1);
            background: rgba($white, .05);

        }
    }

    .user {
        .title {
            font-size: rem(16);
        }

        .subtitle {
            font-size: rem(12);

            &.unpaid {
                color: rgba($white, .5);
            }
        }
    }

    .status-icon {
        margin-left: 6px;
        color: $green1;
    }

    .bill-icon {
        margin-left: 6px;
        font-size: 14px;
    }    

    .group {
        display: flex;
        padding-left: 0;
        text-align: left;
        width: rem(280);
        white-space: pre-wrap;
        background: $gray1;
        padding: rem(14) rem(20);
        padding-left: 0;
        border-right: 1px solid $gray2;
    }

    .group-image {
        width: rem(50%);
        height: rem(50%);
        object-fit: cover;
    }

    .group-info {
        margin-left: rem(14);
    }

    .title {
        font-weight: 300;
        line-height: 1;
        margin-bottom: 8px;
        letter-spacing: 1px;
    }

    .subtitle {
        font-weight: 200;
        font-size: rem(16);
    }

    .cell {
        letter-spacing: 2px;
        font-weight: 500;
        position: relative;
        text-align: center;

        &:not(.total) {
            &:hover,
            &:focus,
            &.selected {
                background: rgba($white, .05);
            }
        }

        &.total {
            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: rem(20);
                background: rgba(104, 168, 104, 0.4);
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    .total {
        position: sticky;
        right: -12px;
        z-index: 2;
        background: $gray1;
    }

    @media screen and (max-width: 575px) {
        .head {
            &:not(:first-of-type) {
                padding: rem(2) rem(2);

                &::after {
                    width: rem(10);
                }
            }

            &.total {
                padding-left: 10px;
                font-size: 8px;
            }
        }

        .group {
            padding: rem(14) rem(0);
            width: rem(150);
        }

        .group-image {
            min-width: rem(35);
        }

        .title {
            font-size: 12px;
            margin-bottom: 4px;
        }

        .subtitle {
            font-size: 8px;
        }

        .link {
            font-size: 8px;
        }

        .bill-icon {
            font-size: 10px;
        }
    }
}

